*/node_modules
/lab9/1/node_modules
/lab9/2/node_modules
/lab9/3/node_modules
/lab10/1/node_modules
/lab10/2/node_modules
/lab10/3/node_modules
/lab11/1/node_modules
/lab11/2/node_modules
/mock-me2/1/node_modules
/mock-me2/2/node_modules
