.card {
    display: grid;
    grid-template-columns: repeat(4,4fr);
    gap: 10px;
}

.card-content {
    background-color: rgb(217, 237, 255);
    width: 300px;
    height: 400px;
    border-radius: 10px;
}

.drag-item {
    transition: transform 0.15s ease-out;
    transform: translate(var(--x, 0px), var(--y, 0px));
}

.drag-item .is-drag {
    transition: none;
    transform: scale(1.05) translate(var(--x), var(--y));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: black;
    z-index: 99999;
}

